/src
/tests
/.github
/.git
.editorconfig
.eslintignore
.eslintrc.cjs
.gitignore
jest.config.js
LICENSE
!files/newproject/.eslintignore
!files/newproject/.editorconfig
!files/newproject/.eslintrc.cjs
!files/newproject/.gitignore
!files/newproject/jest.config.js

